/* Text Formatting */

.mc-code {
  display: none;
}

.mc-clr-black {
  color: #000000;
}
.mc-clr-dark-blue {
  color: #0000aa;
}
.mc-clr-dark-green {
  color: #00aa00;
}
.mc-clr-dark-aqua {
  color: #00aaaa;
}
.mc-clr-dark-red {
  color: #aa0000;
}
.mc-clr-dark-purple {
  color: #aa00aa;
}
.mc-clr-gold {
  color: #ffaa00;
}
.mc-clr-gray {
  color: #aaaaaa;
}
.mc-clr-dark-gray {
  color: #555555;
}
.mc-clr-blue {
  color: #5555ff;
}
.mc-clr-green {
  color: #55ff55;
}
.mc-clr-aqua {
  color: #55ffff;
}
.mc-clr-red {
  color: #ff5555;
}
.mc-clr-light-purple {
  color: #ff55ff;
}
.mc-clr-yellow {
  color: #ffff55;
}
.mc-clr-white {
  color: #ffffff;
}

.mc-bold {
  font-weight: bold;
}
.mc-italic {
  font-style: italic;
}
.mc-underline {
  text-decoration: underline;
}
.mc-strikethrough {
  text-decoration: line-through;
}

.mc-reset {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}
